body {
  background-color: rgb(16, 60, 16);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.game-table {
  background-color: tan;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  background-color: rgb(96, 94, 94);
  height: auto;
  width: auto;
  margin: 20px;
  padding: 10px;
  /* grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr); */
}

.tile {
  height: 180px;
  width: 180px;
}
