body {
  background-color: rgb(16, 60, 16);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.game-table {
  background-color: tan;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  display: grid;
  background-color: rgb(96, 94, 94);
  height: auto;
  width: auto;
  margin: 20px;
  padding: 10px;
  border: 3px solid white;
}

.board.hidden {
  display: none;
}

.tile {
  height: 180px;
  width: 180px;
}

.board-buttons {
  display: flex;
  flex-direction: column;
}

.lvl-btn {
  padding: 10px 20px;
  margin: 20px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.lvl-btn:hover {
  background-color: #0056b3;
}

/* Hide the active floor button */
.lvl-btn#current {
  background-color: #ccc;
  cursor: default;
}

.player {
  background-color: #ff0;
  border: 2px solid #000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  font-size: 10px;
}

.player:nth-child(1) {
  transform: translate(-50px, 20px);
}
.player:nth-child(2) {
  transform: translate(0px, -23px);
}
.player:nth-child(3) {
  transform: translate(50px, -66px);
}
.player:nth-child(4) {
  transform: translate(-50px, -23px);
}
.player:nth-child(5) {
  transform: translate(0px, -66px);
}
.player:nth-child(6) {
  transform: translate(50px, -109px);
}
